:root {
  --white: #fff;
  --black: #000;
  --page-background-color: #eee;
  --text-color: #222;
  --red-300: #ff416c;
  --red-400: #ff4b2b;
  --red-600: #d83c21;
  --form-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --red-gradient: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat,
    0 0 / cover;
  --text-xl: 2rem;
  --text-md: 1.25rem;
  --text-sm: 1rem;
  --transition-speed: 0.3s;
}

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  background: var(--page-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: var(--text-xl);
  margin: 0;
}

p {
  font-size: var(--text-md);
  letter-spacing: 0.05rem;
  margin: 2rem 0 3rem;
}

span {
  font-size: var(--text-sm);
}

a {
  font-size: var(--text-md);
  color: var(--text-color);
  text-decoration: none;
  margin: 1.5rem 0;
}

button {
  font-size: var(--text-md);
  font-weight: 700;
  border-radius: 2.5rem;
  border: 0.1rem solid var(--red-400);
  outline: none;
  background: var(--red-400);
  color: var(--white);
  padding: 1.2rem 4.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color var(--transition-speed) ease,
    transform var(--transition-speed) ease;
  white-space: nowrap;
}

button:active {
  background: var(--red-600);
  transform: scale(0.95);
}

button:hover {
  cursor: pointer;
}

button.ghost {
  background: transparent;
  border: 0.1rem solid var(--white);
}

.container {
  background: var(--white);
  border-radius: 1rem;
  box-shadow: var(--form-box-shadow);
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 50rem;
  height: 40rem;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-container form {
  background: var(--white);
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container input {
  background: var(--page-background-color);
  border: 0.1rem solid transparent;
  outline: none;
  padding: 1.2rem 1.5rem;
  margin: 0.5rem 0;
  width: 100%;
  transition: border 0.3s linear;
}

.form-container form input:focus {
  border-bottom: 0.1rem solid var(--red-400);
}

.form-container input::placeholder {
  letter-spacing: 0.1rem;
}

.form-heading {
  opacity: 0;
  transition: opacity 1.125s ease;
  transition-delay: 0.35s;
}

.show-text {
  opacity: 1;
  top: 5rem;
}

.social-container {
  margin: 2rem 0;
  width: 20rem;
}

.social-container a {
  border: 0.1rem solid var(--text-color);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 3rem;
  width: 3rem;
  color: var(--text-color);
}

.fab {
  color: var(--text-color);
  transition: color var(--transition-speed) ease;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.new-account-signup-button {
  margin-top: 0.5rem;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease;
  z-index: 10;
}

.overlay {
  background: var(--red-gradient);
  color: var(--white);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

@media (min-width: 64em) {
  :root {
    --text-xl: 3rem;
    --text-md: 1.4rem;
    --text-sm: 1.2rem;
  }

  .container {
    width: 78rem;
    height: 47rem;
  }

  .ghost:hover {
    border: 0.1rem solid var(--red-400);
    color: var(--red-400);
    background: var(--white);
  }

  .form-container form input:first-of-type {
    margin-top: 2rem;
  }

  .social-container a {
    width: 4rem;
    height: 4rem;
    transition: border var(--transition-speed) ease;
  }

  .social-container a:hover {
    border: 0.1rem solid var(--red-400);
  }

  .social-container a:hover .fab {
    color: var(--red-400);
  }

  .forgot-password:hover {
    text-decoration: underline;
  }

  .sign-in-button:hover,
  .new-account-signup-button:hover {
    background: transparent;
    color: var(--red-400);
  }

  .container.right-panel-active .overlay-left,
  .overlay-right {
    transform: translateX(0) scale(0.9);
    transition: transform var(--transition-speed) ease;
  }

  .container.right-panel-active .overlay-left:hover,
  .overlay-right:hover {
    transform: translateX(0) scale(1);
  }
}
