/* import google font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* styles for html and body */
html, body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

/* set box sizing options. this allows other box sizing if needed */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* h1 styles */
h1 {
  margin: 0;
}

/* paragraph styles */
p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

/* span styles */
span {
  font-size: 12px;
}

/* linmk styles */
a {
  color: #222;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
